@use '../../styles/global';

.searchBar {
	position: relative;
	width: 100%;
	padding: 1rem 1.5rem;
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
		padding: 0.5rem 1rem 0.5rem 0;
		margin-left: 1rem;
		font-size: 0.9rem;
		background-color: transparent;
		border: none;

		&:focus {
			outline: none;
		}
	}

	.head {
		display: flex;
		align-items: center;
		z-index: 1;
	}

	.body {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		background-color: global.$main_secondary;
		height: 500px;
		width: calc(100% - 1rem);
		border-radius: 3px;
		box-shadow: global.$shadow;
		transform: translateY(0%);
		opacity: 1;
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		pointer-events: all;

		&.collapsed {
			transform: translateY(-10%);
			opacity: 0;
			pointer-events: none;
		}
	}
}
