@use '../../styles/global';

.chatWindowContainer {
	height: 100%;
	width: 100%;
	overflow-y: scroll;

	button {
		visibility: hidden;
	}

	.chatWindow {
		background-color: global.$white;
		flex-grow: 1;
		min-height: 100%;
		width: 100%;
		padding: 4rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.notice {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 2rem 0;

			.icon {
				margin-bottom: 0.7rem;
				svg {
					transform: scale(2.5);
				}
			}

			.text {
				text-align: center;
				font-weight: 600;

				&:nth-of-type(3) {
					font-weight: 500;
					color: global.$gray6;
				}
			}
		}
	}
}
