@import "./styles/global";
@import "./styles/reset";
@import "./styles/fonts";

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text_primary;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
