@use '../../../styles/global';

@keyframes spinning {
	from {
		transform: rotate(0deg) scale(1.4);
	}

	to {
		transform: rotate(360deg) scale(1.4);
	}
}

.FormButton {
	background-color: #5f65f6;
	border: none;
	padding: 0.7rem 2rem;
	border-radius: 3px;
	cursor: pointer;
	color: global.$white;

	&:hover {
		background-color: #4e54ec;
	}

	&:disabled {
		cursor: wait;
	}

	span {
		svg {
			animation: spinning 0.8s infinite;
		}
	}
}
