@use '../../styles/global';

.messageContainer {
	width: 100%;
	display: flex;
	margin-bottom: 0.5rem;

	&.fromMyself {
		justify-content: flex-end;
	}

	&.fromPartner {
		justify-content: flex-start;
	}

	&.fromAdmin {
		justify-content: center;
	}

	.messageWrapper {
		display: flex;
		flex-direction: column;

		span {
			font-size: 0.7rem;
			padding: 0.2rem;
			color: global.$gray9;
		}

		&.fromMyself {
			align-items: flex-end;

			.message {
				background-color: global.$gray2;
				border-radius: 8px 8px 0px 8px;
			}
		}

		&.fromPartner {
			align-items: flex-start;

			.message {
				background-color: global.$purple;
				border-radius: 8px 8px 8px 0px;
				color: global.$white;
			}
		}

		&.fromAdmin {
			.message {
				font-size: 0.9rem;
				font-weight: 600;
				opacity: 0.5;
				box-shadow: none;
			}
		}

		.message {
			padding: 0.5rem 1rem;
			box-shadow: global.$shadow;
		}
	}
}
