.Login {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// background: linear-gradient(to bottom left, #7c6efb, transparent),
	//   linear-gradient(to bottom right, #899cff, transparent);
	background-image: url("../../res/bg.svg");
	background-size: cover;
	background-position: center;
	background-color: #5f679c;
}
