@use '../../styles/global';

@keyframes spinning {
	from {
		transform: rotate(0deg) scale(1.4);
	}

	to {
		transform: rotate(360deg) scale(1.4);
	}
}

.button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		svg {
			animation: spinning 0.8s infinite;
		}
	}

	&:disabled {
		cursor: wait;
	}

	&:focus {
		outline: none;
	}

	&.defaultColor {
		background-color: #5f65f6;
		color: global.$white;

		&:hover {
			background-color: #4e54ec;
		}
	}

	&.transparent {
		background-color: transparent;
		color: global.$gray6;

		span {
			svg {
				fill: global.$gray6;
			}
		}

		&:hover {
			background-color: global.$gray3;
		}
	}

	&.rectangle {
		padding: 0.7rem 2rem;
	}

	&.square {
		padding: 0.7rem;
	}

	&.large {
		svg {
			transform: scale(1.7);
		}
	}
}
