@use '../../styles/global';

.input {
	width: 100%;
	padding: 1rem 1.5rem;
	display: flex;

	input {
		width: 100%;
		padding: 0.5rem 1rem;
		font-size: 0.9rem;
		background-color: global.$gray2;
		border: none;
		margin-right: 0.5rem;
		border-radius: 3px;

		&::placeholder {
			color: global.$gray6;
		}

		&:focus {
			outline: none;
		}
	}
}
