@use '../../styles/global';
@use '../../styles/breakpoints';

.mainbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 4rem;
	padding: 1rem;
	background-color: rgba(white, $alpha: 0.6);
	backdrop-filter: blur(7px);
	display: flex;
	z-index: 5;
	transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);

	&.movedToRight {
		@media screen and (max-width: breakpoints.$sm) {
			left: 300px;
		}

		@media screen and (max-width: breakpoints.$xs) {
			left: 270px;
		}
	}

	@media screen and (max-width: breakpoints.$sm) {
		padding: 0.5rem;
		font-size: 0.8rem;
	}

	button {
		&:hover {
			background-color: rgba(global.$gray6, 0.2) !important;
		}
	}

	.chatInfo {
		margin-left: 0.5rem;
		height: 100%;
		display: flex;
		align-items: center;
		flex: auto;

		span {
			font-size: 0.75rem;
			margin-left: 0.5rem;
			background-color: rgba(global.$gray6, 0.2);
			padding: 0.1rem 0.5rem;
			border-radius: 3px;
		}
	}
}
