.Login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #7c6efb, transparent),
    linear-gradient(to bottom right, #899cff, transparent);
  background-color: #858efe;
}
