.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;

	.spinning {
		svg {
			animation: spinningLrg 0.7s infinite;
		}
	}

	svg {
		transform: scale(2.5);
		margin-bottom: 1.5rem;

		path {
			fill: white;
		}
	}

	span {
		color: white;
	}

	@keyframes spinningLrg {
		from {
			transform: rotate(0deg) scale(2.8);
		}

		to {
			transform: rotate(360deg) scale(2.8);
		}
	}
}
