@use '../../styles/global';

.list {
	padding: 0 1.5rem;
	overflow: hidden;

	&:nth-last-of-type(1) {
		margin-top: 5px;
	}

	header {
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
		color: global.$gray6;
		padding: 0.3rem 0.5rem;
		border-radius: 3px;
		background-color: global.$gray3;
		z-index: 1;
		margin-top: -1px;

		.title {
			display: flex;

			.icon {
				display: flex;
				align-items: center;
				margin-right: 0.3rem;
			}
		}

		.collapseButton {
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin-top: 3px;

			svg {
				transform: scale(1.6);
				transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

				path {
					fill: global.$gray6;
				}
			}

			&:focus {
				outline: none;
			}

			&:hover {
				svg {
					path {
						fill: global.$gray9;
					}
				}
			}

			&.active {
				svg {
					transform: scale(1.6) rotate(180deg);
				}
			}
		}
	}
}
