@use '../../styles/global';
@use '../../styles/breakpoints';

.sidebar {
	height: 100%;
	width: 300px;
	margin-left: 0%;
	background-color: global.$gray2;
	transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	pointer-events: none;

	@media screen and (max-width: breakpoints.$sm) {
		width: 300px;
		position: absolute;
		z-index: 10;
		background-color: rgba(global.$gray2, $alpha: 0.8);
		backdrop-filter: blur(7px);
	}

	@media screen and (max-width: breakpoints.$xs) {
		width: 270px;
		position: absolute;
		z-index: 10;
	}

	&.collapsed {
		margin-left: -300px;
	}
}
