@use '../../styles/global';

.sidebar {
	height: 100%;
	width: 300px;
	margin-left: 0%;
	background-color: global.$gray2;
	transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);

	&.collapsed {
		margin-left: -300px;
	}
}
