//Colors
$white: #fff;
$gray: #aaaaae;
$lightGray: #e9e9ea;

$main_primary: rgb(241, 239, 239);
$main_secondary: #dadada;

$text_primary: #3a3a3a;
$text_secondary: #888888;

$gray3: #e6e6ee;
$gray6: #828791;
$gray9: #43454b;

$green1: #4caf50;

//Misc
$shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
